@import "../../../../styles.scss";

.tasks-view {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.tasks-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;

  .mat-card {
    margin-right: 10px;
    margin-top: 10px;
    width: 300px;
    max-width: 300px;
  }

  .mat-card-header {
    justify-content: space-between;
    align-items: baseline;
  }

  .mat-card-title {
    margin-left: -16px;
  }

  .task-points {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: #e6e6e6;
    font-weight: 600;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
    cursor: pointer;
    // line-height: 1em;
  }

  .mat-card-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    // button.edit-task {
    //   width: 10px !important;
    // }

    .mat-icon {
      @include md-icon-size(22px);
    }
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  button {
    margin-left: 15px;
    padding-bottom: 5px;
    margin-top: -5px;
  }
}

@media screen and (max-width: 1000px) {
  .tasks-list {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .tasks-list .mat-card {
    width: 100%;
  }
}
