<div class="tasks-view">
  <div class="row">
    <h1>Tasks</h1>
    <button [routerLink]="['./add']" mat-mini-fab>
      Add
    </button>
  </div>
  <div class="tasks-list">
    <mat-card *ngFor="let task of tasks">
      <mat-card-header>
        <mat-card-title>
          {{task.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{task.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['./task', task._id]" mat-button>OPEN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

