<mat-toolbar class="header" color="primary">
  <div *ngIf="authService.isAuth | async" class="logo" [routerLink]="'/tasks'">{{title}}</div>
  <div *ngIf="!(authService.isAuth | async)" class="logo" [routerLink]="'/tasks'">{{title}}</div>
  <div class="left-menu">
    <button mat-button *ngIf="authService.isAuth | async" [routerLink]="'/tasks'">Tasks</button>
  </div>
  <div class="right-menu">
    <button mat-button *ngIf="!(authService.isAuth | async)" [routerLink]="'/login'">Login</button>
    <button mat-button *ngIf="authService.isAuth | async" [routerLink]="'/user'">{{authService.userLogin}}</button>
    <button mat-button *ngIf="authService.isAuth | async" (click)="authService.logout()">Logout</button>
  </div>
</mat-toolbar>
