@import "../../../../styles.scss";

.task {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  .tab-label-icon {
    margin-right: 10px;
  }
}

.task-card {
  @include material-card-block();
  width: 400px;

  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    button {
      margin-top: -20px;
      margin-left: 5px;
    }
  }

  .task-content {
    margin: 15px -5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
  }

  hr {
    color: #ccc;
    background-color: #ccc;
    // border: none;
  }
}

@media screen and (max-width: 1000px) {
  .task-card {
    width: 100%;
    max-width: 90%;
    margin: 0;
    margin-top: 10px;
  }

  // .mat-tab-body-content {
  //   max-width: 80vw !important;
  // }
}
